//Screen Sizes
$tablet-width: 768px;
$desktop-width: 1280px;

// Site Primary Colors
$bookworm-black: #0C161D;
$primary-text: $bookworm-black;

$bookworm-green: #326f41;
$header-footer: $bookworm-green;

$white: #FFFFFF;
$primary-background: $white;
$msg-text: $white;
$contrast-text: $white;

// Site Secondary Colors
$bookworm-gray: #7D869C;
$placeholder-text: $bookworm-gray;
$btn: $bookworm-gray;
$dividers: $bookworm-gray;

$bookworm-pink: #d4fbcb;

// Site Background Colors
$charcoal: #454E5D;
$btn-hover: $charcoal;

$bookworm-verdant: #124a0d;
$nav-hover-bg: $bookworm-verdant;

// Messaging & Chat Colors
$bookworm-blue: #0095FF;
$self-msg: $bookworm-blue;
$bookworm-jade: #33cb9b;
$other-msg: $bookworm-jade;

// Modal
$modal-overlay-bg: rgba($color: #0C161D, $alpha: 0.7);

// Padding/margin
$desktop-base: 130px;

// Borders
$thin-border: $bookworm-gray 1px solid;