@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.about {
    margin-top: 250px;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem;
    
    @include tablet {
        margin-top: 150px;
    }

    &__bio {

    }
}
