@use './styles/fonts' as *;
@use './styles/mixins' as *;
@use './styles/variables' as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Office', sans-serif;
}